@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <h1 class="display-5 text-center">Welcome to Auctioneer!</h1>
    <p class="lead">This is a website intended to be a mockup of an auction ecommerce type of web app. In it, you are given a set amount of artifical currency, and can post auctions to sell items. Other users can bid on your auction, and once your set time runs out, the currency will transfer between the highest bidder and the poster!</p>
    <br>
    <h3 class="display-5">Technologies I utilized for this project:</h1>
    <ul class="list-group">
        <li class="list-group-item">C# ASP.NET Core 2.1</li>
        <li class="list-group-item">Razor</li>
        <li class="list-group-item">Bootstrap 4.1.3</li>
        <li class="list-group-item">Entity</li>
        <li class="list-group-item">MySQL 8.0 w/ PostGres</li>
    </ul>

</div>
